<a href="https://colab.research.google.com/github/vishnu4510/datascience/blob/main/daliytask14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Given the string "Hello, World!", extract and print the
substring "Hello".**

In [1]:
string = "Hello, World!"
substring = string[0:5]
print(substring)

Hello

**2. Given the string "Python is fun", extract and print the
substring "is".**

In [2]:
string = "Python is fun"
substring = string[7:9]
print(substring)

is

**3. Given the string "Programming", extract and print the
substring "gram" using slicing indices.**

In [3]:
string = "Programming"
substring = string[3:7]
print(substring)

gram

**4. Given the string "abcdefgh", use slicing to print only the
characters at even indices.**

In [4]:
string = "abcdefgh"
even_index_characters = string[::2]
print(even_index_characters)

aceg

.**5 Given the string "abcdefg", use negative indices to extract
and print the substring "efg".....**

In [9]:
string = "abcdefg"
substring = string[-3:]
print(substring)

efg

**6. Given the string "Data Science", use negative indices to
extract and print the last three characters.**

In [10]:
string = "Data Science"
last_three_characters = string[-3:]
print(last_three_characters)

nce

**7. Given the string "abcdefghij", use slicing with a step to
print every second character.**

In [11]:
string = "abcdefghij"
every_second_character = string[::2]
print(every_second_character)

acegi

**8. Given the string "1234567890", use slicing with a step to
print the odd digits.**

In [12]:
string = "1234567890"
odd_digits = string[1::2]
print(odd_digits)

24680

**9. Given the string "Hello", use slicing to print the string in
reverse order.**

In [13]:
string = "Hello"
reversed_string = string[::-1]
print(reversed_string)

olleH

**10. Given the string "abcdefghijk", extract and print the
substring "acegik" using slicing.**

In [14]:
string = "abcdefghijk"
substring = string[::2]
print(substring)

acegik

**11. Write a program to find sum of all elements in a list of
integers.**

In [15]:
numbers = [int(x) for x in input("Enter integers separated by spaces: ").split()]
total_sum = sum(numbers)
print(f"The sum of all elements in the list is: {total_sum}")

Enter integers separated by spaces: 5 15 25 35
The sum of all elements in the list is: 80

**12. Input a sentence as a string.
a) Print its length
b) Print the first half of string**

In [16]:
sentence = input("Enter a sentence: ")
print(f"Length of the sentence: {len(sentence)}")
half_index = len(sentence) // 2
print(f"First half of the sentence: {sentence[:half_index]}")

Enter a sentence: python program is fun
Length of the sentence: 21
First half of the sentence: python pro

**13. Write a program to enter a tuple of integers as
(78,45,32,19,82,77,40,39). Change the third value in the tuple to 100**

In [17]:
original_tuple = (78, 45, 32, 19, 82, 77, 40, 39)
temp_list = list(original_tuple)
temp_list[2] = 100
modified_tuple = tuple(temp_list)
print(f"Modified tuple: {modified_tuple}")

Modified tuple: (78, 45, 100, 19, 82, 77, 40, 39)

**14. Consider a list
listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
(a) Delete the first occurrence of 32
(b) Delete all occurrences of 40
(c) Delete the value at index=5
(d) Modify the value at index=9 as 300
(e) Add 200 at index=2
(f) Print the final list with its length, maximum value
and sum of all elements**

In [36]:
listA = [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

if 32 in listA:
    listA.remove(32)

listA = [x for x in listA if x != 40]

if len(listA) > 5:
    del listA[5]

if len(listA) > 9:
    listA[9] = 300

listA.insert(2, 200)

print("Final list:", listA)
print("Length of list:", len(listA))
print("Maximum value in list:", max(listA))
print("Sum of all elements in list:", sum(listA))

Final list: [19, 10, 200, 55, 31, 32, 29, 10, 65, 77]
Length of list: 10
Maximum value in list: 200
Sum of all elements in list: 528

**15. Consider a string ”The day has been long”.
(a) Delete the value at index =4
(b) Print the string 4 times in a single line with space
between each repetition
(c) Print the string 3 times in a new line each time
(d) Modify the string at index 7 as ’A’
(e) Print the string from index 4 to 15
(f) Print the final string with its length**

In [37]:
original_string = "The day has been long"

new_string = original_string[:4] + original_string[5:]
print(new_string)

print((original_string + ' ') * 4)

print((original_string + '\n') * 3)

modified_string = original_string[:7] + 'A' + original_string[8:]
print(modified_string)

print(original_string[4:16])

print(modified_string)
print(len(modified_string))

The ay has been long
The day has been long The day has been long The day has been long The day has been long
The day has been long
The day has been long
The day has been long

The dayAhas been long
day has been
The dayAhas been long
21