<a href="https://colab.research.google.com/github/vishnu4510/datascience/blob/main/python3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***4. Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.
Sample input: 1….10
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 198  ***

In [ ]:

start_number = 1
end_number = 10

previous_number = 0

for current_number in range(start_number, end_number + 1):

    sum_of_numbers = current_number + previous_number

    print(f"Current Number {current_number} Previous Number {previous_number} Sum: {sum_of_numbers}")

    previous_number = current_number

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

 ***5. Write a Python program to print only those numbers which are divisible
of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55 ***

In [ ]:

numbers = [10, 20, 33, 46, 55]


for number in numbers:
    if number % 5 == 0:
        print(number)

10
20
55

  ***1. Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999 ***

In [ ]:

import math

radius = float(input("Enter the radius: "))


area = math.pi * radius ** 2

print(f"Area of Circle is {area}")

Enter the radius: 3
Area of Circle is 28.274333882308138

***2. Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78  ***

In [ ]:

name = input("Enter the name: ")
roll_number = input("Enter the roll number: ")
mark = input("Enter the mark: ")

print("\nStudent Details:")
print(f"Name: {name}")
print(f"Roll No: {roll_number}")
print(f"Mark: {mark}")

Enter the name: vishnu
Enter the roll number: 40
Enter the mark: 70

Student Details:
Name: vishnu
Roll No: 40
Mark: 70

*** 3. Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number. ***

In [ ]:

numbers = [12, 3, 47, 10]
largest_number = max(numbers)

print(f"{largest_number} is the largest number.")

47 is the largest number.

**6. Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3
Sample output: 3 is a prime number.**

In [1]:

def is_prime(number):
    if number <= 1:
        return False
    if number == 2 or number == 3:
        return True
    if number % 2 == 0 or number % 3 == 0:
        return False
    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6
    return True


number = int(input("Enter the number: "))

if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

Enter the number: 3
3 is a prime number.


**7. Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10**

In [2]:

def reverse_list(input_list):
    reversed_list = []
    for i in range(len(input_list) - 1, -1, -1):
        reversed_list.append(input_list[i])
    return reversed_list


input_str = input("Enter the list elements separated by commas: ")
input_list = [int(item) for item in input_str.split(',')]

reversed_list = reverse_list(input_list)

print("Reversed list:", ",".join(map(str, reversed_list)))

Enter the list elements separated by commas: 10,40,30,70
Reversed list: 70,30,40,10

**8. Write a Python program to print the following pattern.
*
**
***
****

In [3]:

def print_pattern(rows):
    for i in range(1, rows + 1):
        print('*' * i)

rows = int(input("Enter the number of rows: "))
print_pattern(rows)

Enter the number of rows: 4
*
**
***
****

**9. Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34**

In [4]:

def find_maximum(a, b, c):
    if a >= b and a >= c:
        return a
    elif b >= a and b >= c:
        return b
    else:
        return c

a, b, c = map(int, input("Enter three numbers separated by commas: ").split(','))

max_number = find_maximum(a, b, c)
print(f"The maximum number is: {max_number}")

Enter three numbers separated by commas: 34,12,7
The maximum number is: 34

**10. Write a Python program to construct the following pattern, using a
nested for loop.
*
**
***
****
*****
****
***
**
*       **

In [5]:

def print_pattern(n):

    for i in range(1, n + 1):
        print('*' * i)

    for i in range(n - 1, 0, -1):
        print('*' * i)

n = int(input("Enter the number of rows: "))

print_pattern(n)

Enter the number of rows: 5
*
**
***
****
*****
****
***
**
*